<?xml version="1.0"?>
<!--
/**
 * ElielWeb OptionsProduct Dependency Injection Configuration
 *
 * @category  ElielWeb
 * @package   ElielWeb_ProductConfigurator
 * @author    Elie <elie@redline.paris>
 * @copyright Copyright (c) 2025 RedLine
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Console Commands -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="elielweb_migrate_aitoc_template" xsi:type="object">
                    ElielWeb\ProductConfigurator\Console\Command\MigrateAitocTemplate
                </item>
            </argument>
        </arguments>
    </type>

    <!-- Plugin to allow span tag with specified attributes in WYSIWYG HTML content -->
    <type name="Magento\Cms\Model\Wysiwyg\Config">
        <plugin name="elielweb_product_configurator_html_validator"
                type="ElielWeb\ProductConfigurator\Plugin\HtmlValidatorPlugin"
                sortOrder="10" />
    </type>

</config>
