<?xml version="1.0"?>
<!--
/**
 * ElielWeb OptionsProduct Dependency Injection Configuration
 *
 * @category  ElielWeb
 * @package   ElielWeb_ProductConfigurator
 * @author    Elie <elie@redline.paris>
 * @copyright Copyright (c) 2025 RedLine
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Console Commands -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="elielweb_migrate_aitoc_template" xsi:type="object">
                    ElielWeb\ProductConfigurator\Console\Command\MigrateAitocTemplate
                </item>
                <item name="elielweb_sync_options" xsi:type="object">
                    ElielWeb\ProductConfigurator\Console\Command\SyncOptionsCommand
                </item>
            </argument>
        </arguments>
    </type>

</config>
