<?xml version="1.0"?>
<!--
/**
 * ElielWeb OptionsProduct Admin Dependency Injection Configuration
 *
 * @category  ElielWeb
 * @package   ElielWeb_ProductConfigurator
 * @author    Elie <elie@redline.paris>
 * @copyright Copyright (c) 2025 RedLine
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Plugin to allow span tag with specified attributes in WYSIWYG HTML content (admin area only) -->
    <!-- DISABLED FOR PERFORMANCE - TODO: Find alternative solution -->
    <!--
    <type name="Magento\Cms\Model\Wysiwyg\Config">
        <plugin name="elielweb_product_configurator_html_validator_admin"
                type="ElielWeb\ProductConfigurator\Plugin\HtmlValidatorPlugin"
                sortOrder="10" />
    </type>
    -->

</config>
